/* GENERAL */

* {
    box-sizing: border-box;
    /* width: 100%; */
}

body {
    font-family: "helvetica", "arial", "sans-serif"
}

a {
    /* margin: 0 5px; */
    text-decoration: none;
    pointer-events: auto;
}

a:hover, a:focus, .card:hover {
    cursor: pointer;
}
a:hover, a:active {
    text-decoration: underline;
}
/* button {
    font-family: inherit;
    background: none;
    border: none;
    padding: 0px 1em 0.2em;
    height: 1.2em;
    border-radius: 15px;
    pointer-events: auto;
    height: 2em;
    margin: 0.2em;
} */
button {
    font-family: inherit;
    background: none;
    border: none;
    padding: 15px;
    pointer-events: auto;
    cursor: pointer;
    height: 2em;
    margin: 0.2em;
}

button:hover {
    cursor: pointer;
}
button:active{
    background-color: blue;
}

p {
    margin-top: 5px;
    margin-bottom: 15px;
}

strong {
    font-weight: bold;
}

small {
    font-size: 0.8em;
}
.background {
    width: 100%;
    top: 0;
    left: 0;
    z-index: -10;
}
.background img{
    height: auto;
    width: 100%;
    position: absolute;

}
.background-overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.2;
    pointer-events: none;
    z-index: 1;

}
.center-text{
    text-align: center;
}
.col-4{
    width: 30%;
}
.col-6{
    padding: 20px;
    width: 49%;
}
.col-8{
    width: 60%;
}
.col div{
    margin-bottom: 50px;
}

.clearfix {
    overflow: auto;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.margin-top {
    margin-top: 15px;
}

.hidden {
    display: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.row {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;

}
.vertical-center {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.full-width{
    width: 100%;
    height: auto;
}
.half-width{
    width: 50%;
    height: auto;
    margin: 0 auto;
}

/*HEADER AND NAVBAR*/

header {
    padding: 0;
    margin-bottom: 0;
    position: relative;
    z-index: 300;
    /* display: flex;
    justify-content: space-between; */
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Muli', sans-serif;
    display: block;
    width: 100%;
}

h1 {
    font-size: 1.75em;
    margin-top: 1em;
    width: 100%;
    font-weight: bolder;
}
/* old h2 */
/* h2 {

    width: 100%;
    padding: 5px 10px;
    font-size: 1.75em;
    text-align: left;
    letter-spacing: 0.1em;
} */
h2{
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: bolder;
}

h3 {
    font-size: 1.2em;
    margin: 0.5em 0;
    font-weight: bolder;
    padding: 3px;
}

.heading {
    margin: 20px 0;
    font-size: 1.75em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

#logo {
    margin: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 120;
    padding-top: 15px;
    font-size: 1.75em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
    font-weight: bolder;
    pointer-events: none;
}

#menu {
    margin-top: 0;
    list-style-type: none;
    width: 100%;
    padding: 0 20px;
    position: relative;
    overflow: hidden;
}

#menu li {
    position: relative;
    display: inline-block;
    /* float: left; */
    /* margin: 5px 10px; */
    padding: 15px;
    padding-bottom: 15px;
}

.menu-btn {
    position: relative;
    font-size: 1em;
    border-radius: 0;
    border: none;
    z-index: 100;
}

.menu-btn-highlight {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.menu-toggle {
  position: absolute;
    font-family: inherit;
    font-size: 1em;
    width: 100%;
    padding: 0!important;
    /* line-height: 1em; */
}
nav{
    z-index: 100;
}
nav div {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.nav-contact {
    display: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*MAIN*/

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.description {
    background: pink;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 80%;
    min-height: 400px;
    width: 50%;
}

.description img {
    width: 100%;
    height: auto;
}

.description-header {
    width: 100%;
    height: 25%;
    overflow: hidden;
}

.card {
    position: relative;
    text-align: center;
    display: inline-block;
    margin: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);

}
.card-large{
    height: auto;
    width: 30%;
    min-width: 200px;
}
.card-small{
    height: 50px;
    width: 50px;
    overflow: none;
}
.card-small img{
    /* position: absolute; */
    width: auto;
    height: 50px;
    /* top: 0;
    left: 0; */
    align-self: center;
    margin: 0 auto;
}
.card-large img{
    width: auto;
    height: 200px;
    z-index: -10;
}
.card:hover .description, .card:focus .description {
    background: pink;
}
.thumb-tray{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-evenly;
}
.thumb-overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.5;
    pointer-events: none;
}
.card:hover .thumb-overlay{
    opacity: 0;
}
.card:hover{
    transform: translateY(-5px);
}
.opacity-0{
    opacity: 0;
}
.hoveredProject{
    height: 20px;
}
.project {
    position: relative;
    width: 100%;
    height: 100%;
    /* height: 600px; */
    /* border: 1px solid plum; */
    margin: 30px auto 0;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 2% 10%;
}
.project > div {
    width: 100%;
}
.project li {
    margin: 0.5em 1.2em 1em 1.7em;
}
.demoLogin{
    float: right;
    font-weight: bolder;
    text-align: center;
}
.red{
    color: red;
}
.divider {
    width: 100%;
    height: 9px;
    margin-bottom: 15px;
    margin-top: 50px;
    background: pink;
}
.details-toggler{
    font-family: "Muli", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}
.macro {
    margin-top: 2%;
}
.macro-header{
    width: 60%;
}
.macro-description{
    font-size: 1.2em;
    line-height: 1.2em;
}
.macro-body{
    padding: 0 30px;
    margin-top: 1em;
    width: 100%;
}


.specs {
    /* height: 100%; */
    width: 50%;
    padding: 0 30px;

}

.specs a:visited{
    color: #000;
}
.tech-tags i{
    font-size: 2em;
}
.summary {
    /* height: 100%; */
    width: 50%;
    /* border: 1px solid green; */
}

.subtitle {
    display: block;
    font-size: 1.2em;
    margin-top: 5px;
}

.project-image {
    width: 100%;
    height: auto;
}

.tech-tags {
    margin-bottom: 25px;
}
.tech-tags img{
    height: 30px;
    width: auto;
    margin: 3px;
}

/*For screens smaller than 980*/

@media screen and (max-width: 980px) {
    .container, .header {
        width: 100%;
    }
    .content {
        width: 70%;
    }
    .project {
        width: 100%;
        margin: 0 auto 3em;
    }
    .project-links{
        margin-bottom: 2em;
    }
    .details-toggler{
        width: 100%;
    }
}

/*For screens smaller than 768*/

@media screen and (max-width: 768px) {
    .container, .header {
        width: 100%;
    }
    .content {
        width: 90%;
        margin: 20px auto 0;
    }
    .project {
        width: 100%;
    }
    .macro-description { 
        width: 100%;
    }
    .macro-header {
        width: 100%;
    }
    .macro-body{
        padding: 0;
    }
    .col-6{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .col-6 div {
        margin-bottom: 2em;
    }
}

/*For screens smaller than 640px*/

@media screen and (max-width: 640px) {
    header {
        height: 50px;
        display: block;
        position: static;
    }
    .project{
        width: 100%;
    }

    #logo{
        position: static;
        z-index: 0;
    }
    #menu {
        padding: 0;
    }
    #menu span, #menu, #menu li, nav div {
        width: 100%;
    }
    .menu-toggle, nav div, #menu li {
        display: block;
    }
    .menu-btn {
        /* position: absolute;
        top: 0;
        left: 0; */
        position: default;
        height: 100%;
        width: 100%;
    }
    #menu li {
        padding: 10px;
        text-align: center;
    }
    .card-small, .card-small img{
        height: 25px;
        width: 25px;
    }
    .specs, .summary{
        width: 100%;
    }
    .specs button{
        width: 45%;
        padding: 0 5px;
    }
    .specs a{
        font-size: 0.8em;

    }
}