body{
    color: #373738;
}
nav a, header a, .menu-toggle{
    color: #fff;
}
h2{
    background-color: #232323;
    color: #fff;
}
h3{
    color: #565656;
}

header, nav {
    background-color: #232323;
    color: #fff;
}
.menu-btn{
    color:#fff;
}
.menu-btn:hover, .menu-btn:hover ~ .menu-btn-highlight, .menu-btn:focus, .menu-btn:focus ~ .menu-btn-highlight{
    background-color: #4c4c4c;
}


#menu-toggle{
    background-color: #565656;
}
#menu-toggle:hover{
    background-color: #4c4c4c;
    /* background-image: linear-gradient(#4c4c4c, #4c4c4c, #2d2d2d); */
}
#menu-toggle:active{
    background-color: #2d2d2d;
    /* background-image: linear-gradient(#2d2d2d, #2d2d2d, #4c4c4c); */
}
@media screen and (max-width: 640px){
    #menu li{
        color: #fff;
        background-color: #2d2d2d;    
    }
}